@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SANJUGotgam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noons_2112@1.0/SANJUGotgam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SANJUGotgam', Courier, monospace;
}

.background {
  background-image: url('https://2022-01-newyear.s3.ap-northeast-2.amazonaws.com/bg_default.png');
  background-image: url('https://2022-01-newyear.s3.ap-northeast-2.amazonaws.com/bg_final.png');
}
/* .msg-view {
  position: absolute;
  top: 400px;
  left: 100px;
} */
.msg-complete:hover:enabled {
  background-color: rgb(2 132 199);
}
.msg-complete:disabled {
  background-color: rgb(156 163 175);
}

picture {
  background-color: red;
}
img,
source {
  width: 140px;
  height: 140px;
}
